{% extends 'base.html.twig' %}

{% block title %}{{ 'recherche.titre'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>
            {{ 'recherche.resultats_pour'|trans }} : "{{ recherche }}"
        </h1>

        <hr>

        <div class="row">
            {% if produits is not empty %}
                {% for produit in produits %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img src="{{ asset(produit.visuel) }}" class="card-img-top" alt="{{ produit.libelle }}">

                            <div class="card-body">
                                <h5 class="card-title">{{ produit.libelle }}</h5>
                                <p class="card-text">
                                    {{ produit.texte|slice(0,100) }}
                                </p>
                            </div>

                            <div class="card-footer text-center">
                                <a href="{{ path('app_panier_ajouter', {'idProduit': produit.id}) }}" style="text-decoration: none;">
                                    <h3>
                                        <span class="badge badge-primary">
                                            <i class="fas fa-cart-plus"></i>&nbsp;&nbsp;
                                            {{ produit.prix|number_format(2, ',', ' ') }} €
                                        </span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning">
                        {{ 'recherche.aucun_resultat'|trans }}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="mt-4">
            <a href="{{ path('app_boutique_index', {'_locale': app.request.locale}) }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> {{ 'recherche.retour'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
