{% extends 'base.html.twig' %}

{% block title %}{{ 'boutique.index.titre_page' | trans }}{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            {# Lien de retour vers l'accueil #}
            <a class="btn-back text-secondary" href="{{ path('app_default_index') }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-store"></i>
                {{ 'boutique.index.titre' | trans }}
                <span class="badge badge-pill badge-info">{{ categories|length }}</span>
                {{ 'boutique.index.nb_rayons' | trans }}
            </h3>
        </div>

        <div class="card-body row">
            {% for uneCategorie in categories %}
                <div class="col-md-3">
                    {# On utilise le nom de la route défini dans le contrôleur #}
                    <div class="card clickable" onclick="location = '{{ path('app_boutique_rayon', {'idCategorie': uneCategorie.id}) }}'">
                        {# Image dynamique #}
                        <img src="/images/categories/{{ uneCategorie.visuel }}" class="card-img-top" alt="{{ uneCategorie.libelle }}">

                        <div class="card-body">
                            <h4 class="card-title">{{ uneCategorie.libelle }}</h4>
                            <p class="card-text">
                                <i>{{ uneCategorie.texte }}</i>
                            </p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <p class="alert alert-warning">{{ 'boutique.index.aucun_rayon' | trans }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
