{% extends 'base.html.twig' %}

{% block title %}
    Rayon {{ categorie.libelle }}
{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            {# Lien de retour vers la boutique (index) #}
            <a class="btn-back text-secondary" href="{{ path('app_boutique_index') }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-store"></i>
                Rayon <b>{{ categorie.libelle }}</b>
                <span class="badge badge-pill badge-info">{{ Produits|length | format_number(min_integer_digits=2) }}</span>
                produit(s) disponible(s)
            </h3>
        </div>

        <div class="card-body row">
            {% for produit in Produits %}
                <div class="col-md-4 mb-4">
                    {# Le lien onclick simulé pour l'ajout au panier #}
                    <div class="card clickable"
                         onclick="location = '{{ path('app_panier_ajouter', {'idProduit': produit.id}) }}'"
                         data-toggle="tooltip"
                         title="Ajouter <b>{{ produit.libelle }}</b> à mon panier"
                         data-placement="bottom"
                         data-html="true"
                         data-container="body">

                        {# Image dynamique avec le chemin de base #}
                        <img src="/info/R401/{{ produit.visuel }}" class="card-img-produit" alt="{{ produit.libelle }}">

                        <div class="card-body">
                            <h4 class="card-title">{{ produit.libelle }}</h4>
                            <p class="card-text">
                                <i>{{ produit.texte }}</i>
                            </p>
                            <h2>
                                <span class="badge badge-primary">
                                    <i class="fas fa-cart-plus"></i>&nbsp;&nbsp;
                                    {{ produit.prix|number_format(2, ',', ' ') }} €
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <p class="alert alert-info">Aucun produit n'est disponible dans ce rayon.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
