{% extends 'base.html.twig' %}

{% block title %}
    {{ 'boutique.rayon.titre_page' | trans({'%libelle%': categorie.libelle}) }}
{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            {# Lien de retour vers la boutique (index) #}
            <a class="btn-back text-secondary" href="{{ path('app_boutique_index') }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-store"></i>
                {{ 'boutique.rayon.entete' | trans({'%libelle%': categorie.libelle}) }}
                <span class="badge badge-pill badge-info">{{ Produits|length  }}</span>
                {{ 'boutique.rayon.nb_produits' | trans }}
            </h3>
        </div>

        <div class="card-body row">
            {% for produit in Produits %}
                <div class="col-md-4 mb-4">
                    {# Le lien onclick simulé pour l'ajout au panier #}
                    <div class="card clickable"
                         data-toggle="tooltip"
                         data-placement="bottom"
                         data-html="true"
                         data-container="body">

                        {# Image dynamique avec le chemin de base #}
                        <img src="/info/R401/{{ produit.visuel }}" class="card-img-produit" alt="{{ produit.libelle }}">

                        <div class="card-body">
                            <h4 class="card-title">{{ produit.libelle }}</h4>
                            <p class="card-text">
                                <i>{{ produit.texte }}</i>
                            </p>
                            <h2>
                                <span class="badge badge-primary">
                                    <i class="fas fa-cart-plus"></i>&nbsp;&nbsp;
                                    {{ produit.prix|number_format(2, ',', ' ') }} €
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <p class="alert alert-info">{{ 'boutique.rayon.aucun_produit' | trans }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
